.animals-dashboard {
  display: flex;

  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-left: 20px;
  margin-right: 20px;
  
}

.animals-dashboard::-webkit-scrollbar {
  box-shadow: inset 0 0 5px #6f8c6f;
  border-radius: 10px;
}

.animals-board {
  box-shadow: -5px 2px 1px  #6f8c6f;
  width: 300px;
  text-align: center;
  border: 1px solid #9ec89e;
  background: #B3C89E;
  margin: 0px 10px;
  padding: 20px 20px;
  border-radius: 12px;
}

.animals-dashboard h2 {
  font-size: 22px;
  font-weight: bolder;
  color: black;
}

.animals-dashboard h3 {
  font-size: 18px;
  color: black;

}

.animal-image-cover {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.animals-board .action {
  display: flex;
  text-align: center;
}

.animals-board .btn {
  width: 100px;
  height: auto;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  display: inline;
  align-items: center;
  background-color: #9ec89e;
  transition: 500ms;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 5px;
  box-shadow: 3px 3px 20px #92b892, -3px -3px 20px #92b892;
}

.dashboard-title {
  color: black;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.action > a:hover {
  box-shadow: none;
}

.no-pets {
  font-size: 26px;
  font-weight: bolder;
  border: black solid;
  padding: 30px;
}
