form > h2 {
  font-weight: bold;
}

.registerForm {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 350px;
  height: 550px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #9ec89e;
  box-shadow: 10px 10px 30px #6f8c6f, -10px -10px 30px #6f8c6f;
  justify-content: center;
}

#registerPage {
  display: block;
  text-align: center;
}
